<?xml version="1.0"?>

<model>
  <name>Lobot_arm</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Poh Zhi-Ee</name>
    <email>zhiee.poh@httechnology.com</email>
  </author>

  <description>
    RRR robot made from the arm of a Lobot H3P
  </description>
</model>
