<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="lobot">
  <gazebo>
    <plugin filename="libmy_joint_state_publisher.so" name="my_joint_state_publisher">
      <robot_name>lobot</robot_name>
      <update_rate>100</update_rate>
    </plugin>
  </gazebo>

  <gazebo>
    <plugin filename="librobot_plugin.so" name="robot_plugin_lobot">
      <robot_name>lobot</robot_name>
      <update_rate>100</update_rate>
    </plugin>
  </gazebo>

  <gazebo reference="IMU_link">
    <sensor type="imu" name="IMU_lobot">
      <always_on>true</always_on>
      <update_rate>10.0</update_rate>
      <plugin filename="libgazebo_ros_imu_sensor.so" name="lobot_IMU_controller"></plugin>
    </sensor>
  </gazebo>
  <!-- define global properties -->
  <xacro:property name="M_PI" value="3.1415926535897931" />

</robot>
