<?xml version="1.0"?>

<model>
  <name>Lobot_Biped</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Poh Zhi-Ee</name>
    <email>zhiee.poh@httechnology.com</email>
  </author>

  <description>
    A biped robot resembling the lobot h3p
  </description>
</model>
