<robot name="lobot" xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:include filename="$(find lobot_description)/urdf/materials.urdf.xacro" />
    <link name="world" />
    <joint name="world_joint" type="fixed">
        <parent link="world" />
        <child link="base_link" />
        <origin xyz="0  0 0.25" rpy="0 0 0" />
    </joint> 
    <link name="base_link">
        <inertial>
            <mass value="0.083221" />
            <origin xyz="-0.01209 -0.00442 0.02145" rpy="0 0 0" />
            <inertia ixx="0.03408839175" ixy="0.00000898087" ixz="0.00238269732" iyy="0.03351929137" iyz="0.00049460232" izz="0.04506059363" />
        </inertial>
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0" />
            <geometry>
                <box size="0.043 0.118 0.095" />
            </geometry>
            <material name="LightGrey" />
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0" />
            <geometry>
                <box size="0.043 0.118 0.095" />
            </geometry>
        </collision>
    </link>


    <link name="IMU_link">
        <inertial>
            <mass value="0.0001" />
            <origin rpy="0 0 0" xyz="0 0 0" />
            <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.000001" iyz="0" izz="0.0001" />
        </inertial>
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0" />
            <geometry>
                <box size="0.001 0.001 0.001" />
            </geometry>
            <material name="red" />
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0" />
            <geometry>
                <box size=".001 .001 .001" />
            </geometry>
        </collision>
    </link>
    <joint name="IMU_joint" type="fixed">
        <axis xyz="1 0 0" />
        <origin xyz="0 0 0" />
        <parent link="base_link" />
        <child link="IMU_link" />
    </joint>
    <xacro:include filename="$(find lobot_description)/urdf/leg/leg.urdf.xacro" />
    <xacro:include filename="$(find lobot_description)/urdf/arm/arm.urdf.xacro" />
    <xacro:include filename="$(find lobot_description)/gazebo/gazebo.urdf.xacro" />

    <xacro:lobot_leg name="leg" side="right" reflect="1.0" parent="base_link" />
    <xacro:lobot_leg name="leg" side="left" reflect="-1.0" parent="base_link" />
    <xacro:lobot_arm name="arm" side="right" reflect="1.0" parent="base_link" />
    <xacro:lobot_arm name="arm" side="left" reflect="-1.0" parent="base_link" />

</robot>
